* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-image: url("./photos and icon/gradient-bg.jpg");
  height: 100vh;
  width: 100vw;
  padding: 20px;
  background-size: cover;
  display: grid;
  background-position: center;
  background-size: 100%;
  /* margin: auto; */
}

.player {
  color: white;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 0.5rem 3rem;
}

.all-box {
  width: 90%;
  max-width: 20rem;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  aspect-ratio: 1/1;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 12rem;
}

.box {
  font-weight: bold;
  color: white;
  font-size: 70px;
  padding-left: 30%;
  cursor: pointer;
}

.box1,
.box2,
.box4,
.box5 {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.box3,
.box6 {
  border-bottom: 2px solid white;
}

.box7,
.box8 {
  border-right: 2px solid white;
}

.btn-div {
  display: flex;
  justify-content: center;
  align-items: center
}

.btn {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transform: translateX(-50%);
    padding: 10px;
    color: white;
    margin-top: 32rem;
    display: none;
}
.btn.active{
    display:flex;
}

.win{
    background-color: #56f1b1;
}
